<h1>Users/signin</h1>

<form action="users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Create Password" required>
    <button type="submit">Sign In</button>
</form>